<div class="container">
<h2>Tarefas</h2>
{{#each allTask}}
    <li>
        {{this.name}}
        <form class="updateForm" action="/updateCheckBox/{{this.id}}" method="POST"> <!-- Adiciona o ID da tarefa à rota -->
            <input type="hidden" value="{{this.conclusaotask}}">
            {{#if isChecked}}
                <input type="checkbox" class="checkBox" name="checkBox" value="{{this.conclusaotask}}" data-task-id="{{this.id}}" checked>
            {{else}}
                <input type="checkbox" class="checkBox" name="checkBox" value="{{this.conclusaotask}}" data-task-id="{{this.id}}">
            {{/if}}
        </form>
        <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit">Deletar</button>
        </form>
    </li>
    {{/each}}
<br>
<hr>
<br>
<form action="/add" method="POST" id="todoForm">
    <p>Adicionar tarefa</p>
    <input type="text" name="tarefa" placeholder="Adicionar nova tarefa...">
    <button type="submit">Adicionar</button>
</form>

</div>